__pycache__
xtlib/__pycache__/*
//*.pyc

cmdlineTest/logs
cmdlineTest/archives
cmdlineTest/output
cmdlineTest/fake_temp_dir
cmdlineTest/models
cmdlineTest/data
azure_template.json

logs

# not clear if these are doing their job
test_workspace_root
build
dist
obj
bin

*egg-info
*.tmp
temp
azure_errors.txt

quick-test/download_testing
quick-test/upload_testing
quick-test/submitLogs
quick-test/approved_submitLogs
quick-test/fake_temp_dir
quick-test/data

xtlib/demo_files/output
xtlib/demo_files/models

texta.json
textb.json
azure_errors.txt

docs/xt/_build
docs/xt/internal/*
docs/xtlib/_build
.vscode/
.idea/
