# for xtlib API and XT command line usages:

# for azure SDK usage
# we specify versions numbers to ensure they work together correctly (last changed: 10/30/2019)
azure-batch==8.0.0
azure-identity==1.2.0
azure-keyvault==4.0.0
azure-storage-blob==2.1.0
azureml-sdk==1.0.69
azureml-widgets==1.0.69.1

PyYAML==5.3.1            # for YAML parser
arrow==0.14.0            # avoid annoying warning msgs in 0.14.4 
future==0.18.2           # temporarily needed by tensorboard
grpcio==1.53.0           # tensorboard requirement
hyperopt==0.2.4          # for bayesian hyperparam searching
matplotlib==3.2.1        # for plotting (exploring their use)
numpy==1.18.1            # general use
pandas==1.0.4            # for DataFrame 
paramiko==2.7.1          # SSH session-level API (fast access to remote box)
pillow==7.1.0
psutil==5.7.0            # for querying and killing processes (XT controller)
ptvsd==4.3.2             # for attaching debugger to python processes
pymongo==3.10.1          # for reporting/querying runs database (Azure MongoDB API)
python-interface==1.6.0  # for specifying provider interface classes
rpyc==4.1.2              # rpyc requires its versions to match (client/remote)
ruamel.yaml==0.15.89
seaborn==0.10.1          # for plotting styles
tensorboard==2.1.0       # for logging to Tensorboard
tqdm==4.46.1             # for command line progress displays (still used?)
watchdog==0.9.0           # for watching file we want to copy to grok server (watchdog 0.10.0 has setup error)

# to run xtlib's tests you will also need pytorch installed:
#   conda install pytorch torchvision cudatoolkit=10.0 -c pytorch
